<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Screen, Window, Coordinates</title>
  <link rel="stylesheet" href="../css/screenWindowCoords.css">
  <script type="module" src="../js/screenWindowCoords.js"></script>
</head>

<body>
  <main>
    <header>
      <nav>
        <ul>
          <li><a href="../index.html">Element</a></li>
          <li><a href="./screenWindowCoords.html">Screen, Window, Coordinates</a></li>
          <li><a href="./scrollResizeMove.html">Scroll The Page</a></li>
        </ul>
      </nav>
      <h1>Screen, Window, Coordinates</h1>
    </header>
    <div>
      <section class="screen">
        <h2>Screen</h2>
        <ul>
          <li>screenTop: <span class="screenSpan" data-name="screenTop"></span></li>
          <li>screenLeft: <span class="screenSpan" data-name="screenLeft"></span></li>
          <li>screenX: <span class="screenSpan" data-name="screenX"></span></li>
          <li>screenY: <span class="screenSpan" data-name="screenY"></span></li>
        </ul>
        <ul class="screenDetails" id="screenDetails"></ul>
      </section>
      <section class="coordinates">
        <h2>Coordinates</h2>
        <div>
          <ul>
            <li>screenX: <span class="list__span" data-name="screenX"></span></li>
            <li>offsetX: <span class="list__span" data-name="offsetX"></span></li>
            <li>pageX: <span class="list__span" data-name="pageX"></span></li>
            <li>clientX: <span class="list__span" data-name="clientX"></span></li>
            <li>layerX: <span class="list__span" data-name="layerX"></span></li>
          </ul>
          <ul>
            <li>screenY: <span class="list__span" data-name="screenY"></span></li>
            <li>offsetY: <span class="list__span" data-name="offsetY"></span></li>
            <li>pageY: <span class="list__span" data-name="pageY"></span></li>
            <li>clientY: <span class="list__span" data-name="clientY"></span></li>
            <li>layerY: <span class="list__span" data-name="layerY"></span></li>
          </ul>
        </div>
      </section>
    </div>
    <section class="window">
      <h2>Window</h2>
      <div>
        <dl>
          <dt>Width</dt>
          <dd>outerWidth: <span class="windowSpan" data-name="outerWidth"></span></dd>
          <dd>innerWidth: <span class="windowSpan" data-name="innerWidth"></span></dd>
        </dl>
        <dl>
          <dt>Height</dt>
          <dd>outerHeight: <span class="windowSpan" data-name="outerHeight"></span></dd>
          <dd>innerHeight: <span class="windowSpan" data-name="innerHeight"></span></dd>
        </dl>
        <dl>
          <dt>Scrolling X</dt>
          <dd>scrollX: <span class="windowSpan" data-name="scrollX"></span></dd>
          <dd>pageXOffset: <span class="windowSpan" data-name="pageXOffset"></span></dd>
        </dl>
        <dl>
          <dt>Scrolling Y</dt>
          <dd>scrollY: <span class="windowSpan" data-name="scrollY"></span></dd>
          <dd>pageYOffset: <span class="windowSpan" data-name="pageYOffset"></span></dd>
        </dl>
      </div>
    </section>
  </main>
</body>

</html>